* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: #fff;
}

*::selection {
    color: #00D646;
}

:root {
    --a: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: block;
    width: 5px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #00D646;
    border-radius: 50px;
}

main {
    height: 100%;
    width: 100%;
    /* position: relative; */
}

main::before {
    content: "";
    background: url(images/contact.jpg) no-repeat center center / cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(0.4);
}

nav {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
}

.names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.names a {
    text-decoration: none;
    transition: all linear 0.5s;

}

.names a:hover {
    color: #00D646;
}

.names a:active {
    color: #00D646;
}

.logo img {
    height: 100px;
    padding-right: 20px;
    filter: invert(1);
    transition: all ease 0.5s;
}

.logo img:hover {
    filter: invert(0);
}


.contact {
    height: 550px;
    width: 900px;
    margin-top: -50px;
    margin-left: 350px;
    background-color: #333B50;

}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    margin: 100px;
    padding-top: 100px;
}

.left h2 {
    font-size: 30px;
}

.left p {
    /* text-align: center; */
    width: 380px;
    padding-top: 30px;
}

input,
textarea {
    color: #C3C3C2;
    padding: 10px;
    border: none;
}

input:hover {
    background-color: #A1F1BB;
}

textarea:hover {
    background-color: #A1F1BB;
}

.first {
    display: flex;
    gap: 8px;
}

/* .first input{
    padding-right: -10px;
} */
#f-number {
    margin-top: 15px;
    padding-right: 201px;
}

#message-area {
    margin-top: 15px;
}

#f-submit {
    background-color: #00D646;
    color: #fff;
    margin-top: 10px;
    /* padding-right: 201px; */
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.f-icons {
    display: flex;
    gap: 20px;
    /* gap: 33px;
    margin-top: 150px;
    margin-left: 800px;*/
    position: relative;
}

#f-elem {
    position: absolute;
    top: -40px;
    left: 300px;
    transition: all ease 0.5s;
    cursor: pointer;
}

#f-elem:hover {
    scale: 1.1;
}

#f-span {
    display: none;
}

#x-elem {
    position: absolute;
    top: -40px;
    left: 350px;
    transition: all ease 0.5s;
    cursor: pointer;
}
#x-elem:hover {
    scale: 1.1;
}

#x-span {
    display: none;
}

#i-elem {
    position: absolute;
    top: -40px;
    left: 400px;
    transition: all ease 0.5s;
    cursor: pointer;
}
#i-elem:hover {
    scale: 1.1;
}

#i-span {
    display: none;
}

#li-elem {
    position: absolute;
    top: -40px;
    left: 450px;
    transition: all ease 0.5s;
    cursor: pointer;
}
#li-elem:hover {
    scale: 1.1;
}
#li-span {
    display: none;
}

.f-icons i {
    font-size: 25px;
}

/* .f-icons{
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 150px;
    margin-left: 800px;
    position: relative;
}
.f-icons i{
    font-size: 25px;
}
.f-icons a{
    font-size: 25px;
    text-decoration: none;
}
#f-span{
    display: none;
    position: absolute;
    top: 1%;
    right: 40px;
    background-color: rgb(110, 37, 37);
    padding: 4px;
    border-radius: 5px;
    transition: all ease 0.6s;
}
#x-span{
    display: none;
    position: absolute;
    top: 15%;
    right: 45px;
    background-color: rgb(110, 37, 37);
    padding: 4px;
    border-radius: 5px;
}
#i-span{
    display: none;
    position: absolute;
    top: 30%;
    right: 45px;
    background-color: rgb(110, 37, 37);
    padding: 4px;
    border-radius: 5px;
}
#li-span{
    display: none;
    position: absolute;
    top: 45%;
    right: 45px;
    background-color: rgb(110, 37, 37);
    padding: 4px;
    border-radius: 5px;
    width: 80px;
} */
footer {
    background-color: #17d657;
    height: 115px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo img {
    width: 150px;
    filter: invert(1);
}

.footer-logo img:hover {
    scale: 0.9;
    transition: all ease-in-out 0.5s;
}

.content::selection {
    color: #000;
}