* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: #fff;
}

*::selection {
    color: #00D646;
}

:root {
    --a: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: block;
    width: 5px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #00D646;
    border-radius: 50px;
}

main {
    height: 100%;
    width: 100%;
    /* position: relative; */
}

main::before {
    content: "";
    background: url(images/mountain.jpg) no-repeat center center / cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(0.4);
}

nav {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
    margin-bottom: 120px;
}

.names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.names a {
    text-decoration: none;
    transition: all linear 0.5s;

}

.names a:hover {
    color: #00D646;
}

.names a:active {
    color: #00D646;
}

.logo img {
    height: 100px;
    padding-right: 20px;
    filter: invert(1);
    transition: all ease 0.5s;
}

.logo img:hover {
    filter: invert(0);
}

.goal-content {
    background-color: #00D646;
    text-align: center;
    width: 600px;
    line-height: 25px;
    /* position: absolute;
    top: 200px; */
    margin: auto !important;
    border: 2px solid #000;
    border-radius: 20px;
}


.goal-content p,
.goal-content h3 {
    padding: 10px;
    color: #000;
}

.goal-content strong {
    color: #000;
}

.goal-content p::selection {
    color: #fff;
}

.goal-content strong::selection {
    color: #fff;
}

.goal-content h3::selection {
    color: #fff;
}

.partner {
    background-color: #4D5466;
    height: 250px;
}

.partner h1 {
    padding: 20px;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.p-1 {
    background-color: red;
    height: 120px;
    width: 120px;
    background: url(images/applelogo1.jpg) no-repeat center center / cover;
    transition: all ease 0.5s;
}

.p-1:hover {
    scale: 1.1;
    border: 1px solid #000;
}

.p-2:hover {
    scale: 1.1;
    border: 1px solid #000;
}

.p-3:hover {
    scale: 1.1;
    border: 1px solid #000;
}

.p-4:hover {
    scale: 1.1;
    border: 1px solid #000;
}

.p-5:hover {
    scale: 1.1;
    border: 1px solid #000;
}

.p-2 {
    background-color: red;
    height: 120px;
    width: 120px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo0-Bze6ydKezCJv8G5RExA4foTRLYDv5mDw&s) no-repeat center center / cover;
    transition: all ease 0.5s;
}

.p-3 {
    background-color: red;
    height: 120px;
    width: 120px;
    background: url(images/aramcojpg.jpg) no-repeat center center / cover;
    transition: all ease 0.5s;
}

.p-4 {
    background-color: red;
    height: 120px;
    width: 120px;
    background: url(images/engrologo.png) no-repeat center center / cover;
    transition: all ease 0.5s;
}

.p-5 {
    background-color: red;
    height: 120px;
    width: 120px;
    background: url(images/youtubelogo.jpg) no-repeat center center / cover;
    transition: all ease 0.5s;
}

footer {
    background-color: #17d657;
    height: 115px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo img {
    width: 150px;
    filter: invert(1);
}

.footer-logo img:hover {
    scale: 0.9;
    transition: all ease-in-out 0.5s;
}

.content::selection {
    color: #000;
}

.close i {
    display: none;
}

.left {
    height: 100%;
    width: 50%;
    background-color: #333B50;
    z-index: 99;
    position: absolute;
    display: none;
    transition: all ease 0.5s;
}

.left i {
    padding: 10px;
}

.menu {
    margin-top: 80px;
}

.menu a {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    background-color: #232937;
}

@media only screen and (max-width: 610px) {
    .goal-content {
        width: 500px;
    }

    .partner {
        height: 360px;
    }

    .partners {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 545px) {
    .close i {
        display: initial;
        padding: 10px;
    }

    .names a {
        display: none;
    }

    nav {
        justify-content: left;
        gap: 150px;
    }

    .partner {
        height: 420px;
    }
}

@media only screen and (max-width: 505px) {
    .goal-content {
        width: 450px;
    }

    nav {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 460px) {
    .goal-content {
        width: 400px;
    }

    nav {
        gap: 100px;
    }
}

@media only screen and (max-width: 420px) {
    .partner {
        height: 550px;
    }
}

@media only screen and (max-width: 407px) {
    .goal-content {
        width: 380px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 390px) {
    .goal-content {
        width: 360px;
        line-height: 20px;
    }

    .goal-content p,
    .goal-content h3 {
        padding: 6px;
    }
    nav {
        gap: 80px;
    }
}
@media only screen and (max-width: 365px) {
    .goal-content {
        width: 330px;
        line-height: 20px;
    }

    .goal-content p,
    .goal-content h3 {
        padding: 6px;
    }
    nav {
        gap: 60px;
    }
}
@media only screen and (max-width: 340px) {
    .goal-content {
        width: 310px;
        line-height: 20px;
    }

    .goal-content p,
    .goal-content h3 {
        padding: 4px;
    }
    nav {
        gap: 50px;
    }
}