*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: #fff;
}
*::selection{
    color: #00D646;
}
:root{
    --a:none;
}
html,body{
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar {
    display: block;
    width: 5px;
    background-color: #fff; 
}

body::-webkit-scrollbar-thumb {
    background-color: #00D646;
    border-radius: 50px;
}
main{
    height: 100%;
    width: 100%;
    /* position: relative; */
}
main::before{
    content: "";
    background: url(https://static.wixstatic.com/media/035244_9f46dd7c6e524eef94172c670fff1913~mv2_d_1920_1343_s_2.jpg/v1/fill/w_1583,h_1250,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/035244_9f46dd7c6e524eef94172c670fff1913~mv2_d_1920_1343_s_2.jpg) no-repeat center center / cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(0.4);
}
nav{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
}
.names{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
.names a{
    text-decoration: none;
    transition: all linear 0.5s;

}
.names a:hover{
    color: #00D646;
}
.names a:active{
    color: #00D646;
}
.logo img{
    height: 100px;
    padding-right: 20px;
    filter: invert(1);
    transition: all ease 0.5s;
}
.logo img:hover{
    filter: invert(0);
}
.professional h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 35px;
    color: #00D646;
}
.professional h1::selection{
    color: #fff;
    background-color: #00D646;
}
.professional p{
    font-size: 1.45rem;
    text-align: center;
    padding-top: 20px;
}
.p-content{
    margin-top: 85px;
    margin-left: 460px;
}
.p-content p{
    padding: 25px;
    /* text-align:left; */
}
.html{
    height: 5px;
    width: 50rem;
    background-color: #00D646;
    display: block;
    text-align: end;
}
.js{
    height: 5px;
    width: 25rem;
    background-color: #00D646;
    display: block;
    text-align: end;
}
.libraries{
    height: 5px;
    width: 8.3rem;
    background-color: #00D646;
    display: block;
    text-align: end;
}
.wp{
    height: 5px;
    width: 28rem;
    background-color: #00D646;
    display: block;
    text-align: end;
}
.backend{
    height: 5px;
    width: 1.8rem;
    background-color: #00D646;
    display: block;
    text-align: end;
}

section{
    height: 500px;
    height: 100%;
    background-color: #4D5466;
}
.portfolio h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 35px;
    color: #00D646;
}
.portfolio h1::selection{
    color: #fff;
    background-color: #00D646;
}
.portfolio p{
    font-size: 1.45rem;
    padding-top: 20px;
    display: inline;
    text-align: center;
    padding-left: 615px;
}
.portfolio span{
    font-size: 1.45rem;
    padding-top: 20px;
    text-align: center;

}
.portfolio span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.port-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 350px;
    width: 350px;
    /* background-color: red; */
    margin-top: 80px;
}
#spotify{
    background: url(images/spotify.jpg) no-repeat center center / cover;
    transition: all ease 0.5s;
}
#spotify a{
    text-align: center;
    margin-top: 175px;
    display: var(--a);
    font-size: 25px;
    text-decoration: none;
}
#spotify:hover{
    cursor: pointer;
    --a:block;
    filter: brightness(0.8);
}
#sidcup{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0tWKwK_KgGM1UQndsuROiUSmAcg5HSUnHEw&s") no-repeat center center / cover;
    transition: all ease 0.5s;

}
#sidcup a{
    text-align: center;
    margin-top: 175px;
    display: var(--a);
    color: #000;
    font-size: 25px;
    text-decoration: none;
}
#sidcup:hover{
    cursor: pointer;
    --a:block;
    filter: brightness(0.8);
}
#netflix{
    background: url("images/netflix.jpg") no-repeat center center / cover;
    transition: all ease 0.5s;
}
#netflix a{
    text-align: center;
    margin-top: 175px;
    display: var(--a);
    font-size: 25px;
    text-decoration: none;
}
#netflix:hover{
    cursor: pointer;
    --a:block;
    filter: brightness(0.8);
}


.port-content1{
    display: none;
    align-items: center;
    justify-content: center;
}
.box{
    height: 350px;
    width: 350px;
    /* background-color: red; */
    margin-top: 80px;
}
#aramco{
    background: url("https://the-cradle-media.s3.eu-west-1.amazonaws.com/wp-content/uploads/2023/05/download-19.jpg") no-repeat center center / cover;
    transition: all ease 0.5s;
}
#aramco a{
    text-align: center;
    margin-top: 175px;
    display: var(--a);
    font-size: 25px;
    color: #000;
    text-decoration: none;
}
#aramco:hover{
    cursor: pointer;
    --a:block;
    filter: brightness(0.8);
}
#tasty-food{
    background: url(images/TastyFoodlogo.jpg) no-repeat center center / cover;
    transition: all ease 0.5s;

}
#tasty-food a{
    text-align: center;
    margin-top: 175px;
    display: var(--a);
    color: #000;
    font-size: 25px;
    text-decoration: none;
}
#tasty-food:hover{
    cursor: pointer;
    --a:block;
    filter: brightness(0.8);
}
#kb-fitness{
    background: url("images/backgroung.jpg") no-repeat center center / cover;
    transition: all ease 0.5s;
}
#kb-fitness a{
    text-align: center;
    margin-top: 175px;
    display: var(--a);
    font-size: 25px;
    text-decoration: none;
}
#kb-fitness:hover{
    cursor: pointer;
    --a:block;
    filter: brightness(0.8);
}

.port-content2{
    display: none;
    align-items: center;
    justify-content: center;
}
.box{
    height: 350px;
    width: 350px;
    /* background-color: red; */
    margin-top: 80px;
}
#portfolio-div{
    background: url("https://www.springboard.com/blog/wp-content/uploads/2022/06/coding-.png") no-repeat center center / cover;
    transition: all ease 0.5s;
}
#portfolio-div a{
    text-align: center;
    margin-top: 175px;
    display: var(--a);
    font-size: 25px;
    color: #000;
    text-decoration: none;
}
#portfolio-div:hover{
    cursor: pointer;
    --a:block;
    filter: brightness(0.8);
}
#twitter{
    background: url("https://static.dezeen.com/uploads/2023/07/x-logo-twitter-elon-musk_dezeen_2364_col_0.jpg") no-repeat center center / cover;
    transition: all ease 0.5s;
}
#twitter a{
    text-align: center;
    margin-top: 175px;
    display: var(--a);
    font-size: 25px;
    text-decoration: none;
}
#twitter:hover{
    cursor: pointer;
    --a:block;
    filter: brightness(0.8);
}


footer{
    background-color: #17d657;
    height: 115px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.footer-logo img{
    width: 150px;
    filter: invert(1);
}
.footer-logo img:hover{
    scale: 0.9;
    transition: all ease-in-out 0.5s;
}
.content::selection{
    color: #000;
}